/* Only comments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.main-container {
  width: 100%;
  align-items: center;
}

#bookForm {
  width: 50%;
  text-align: center;
  margin: 30px 23%;
  padding: 30px 0;
}

#title {
  width: 60%;
  height: 35px;
  border: 2px solid #000;
  color: #272a31;
}

#tuthor {
  width: 60%;
  height: 35px;
  border: 2px solid #000;
  color: #272a31;
}

#addItem {
  border: 2px solid #000;
  height: 35px;
  width: 85px;
  margin-left: 50%;
}

#addItem:hover {
  background-color: lightgreen;
  color: #fff;
}

#dynamic {
  width: 50%;
  text-align: center;
  margin: 20px 23%;
  border: 2px solid #000;
  align-items: center;
}

#dynamic title {
  border: 1px solid red;
  padding: 10px 0;
}

#bookss h1 {
  width: 50%;
  text-align: center;
  margin: 20px 23%;
  font-size: 34px;
  font-weight: bold;
  font-family: sans-serif;
}

.book {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  width: 100%;
  padding-top: 10px;
}

.book:nth-child(odd) {
  background-color: #d3d3d3;
}

.btn-delete {
  width: 100px;
  height: 35px;
  border: 2px solid #000;
  background-color: lightgreen;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  margin-top: -10px;
  margin-inline-end: -230px;
}

.btn-delete:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s all ease-in-out;
  box-shadow:
    0 5px 10px rgba(212, 130, 130, 0.82),
    0 5px 10px rgba(214, 140, 140, 0.82),
    0 5px 10px rgba(212, 151, 151, 0.82),
    0 5px 10px rgba(199, 91, 91, 0.82);
}
